.about__text{
    position: relative;
    font-style: italic;
    line-height: 1.5;
    margin-bottom: 5%;
    .about__asterisk{
        width: 25px;
        height: 25px;
        fill: #451d20;
        opacity: 0.7;
        position: absolute;
        left: -50px;
    }
    @include tablets{
        margin-top: 5%;
    }
}