.comments__item{
    list-style-type: none;
    display: flex;
    min-width: 50%;
    max-height: 100%;
    transition: margin-left 0.3s;
    font-weight: 600;
    color: #a1a2a2;
    padding-right: 15%;
    line-height: 1.8;
}