.comments__persone{
    font-weight: 700;
    display: flex;
    align-items: center;
    margin-top: 25px;
    .comments__info{
        margin-left: 25px;
    }
    .comments__name{
        color: #fff;
    }
    .comments__status{
        color: #7e7e7f;
    }
}