.contacts__input{
    border-bottom: 1px solid #fff;
    input{
        background: none;
        border: 0;
        color: #fff;
        font-weight: 600;
        padding: 25px;
        width: 90%;
    }
}