.contacts__block{
    display: flex;
    flex-direction: column;
    width: 45%;
    @include phones{
        width: 100%;
        padding: 5% 0;
    }
    label{
        color: #7e7e7f;
        font-weight: 600;
        margin-left: 50px;
        transition: 0.5s;
    }
}
.contacts__text{
    label{
        color: #7e7e7f;
        font-weight: 600;
        margin-left: 50px;
        transition: 0.5s;
    }
}