.contacts__first{
    display: flex;
    justify-content: space-between;
    @include phones{
        flex-direction: column;
    }
}
.contacts__block{
    display: flex;
    flex-direction: column;
    width: 45%;
    @include phones{
        width: 100%;
        padding: 5% 0;
    }
    label{
        margin-left: 12%;
        @include tablets{
            margin-left: 7.5%;
        }
    }
}