.contacts__button{
    width: 35%;
    background: linear-gradient(90deg, #ed7e00, #f29400);
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    padding: 3.5% 0 5% 0;
    line-height: 1.42;
    margin-top: 5%;
    &:hover{
        background: #f29400;
    }
    &:active{
        background-color: #ed7e00;
        font-size: 12px;
    }
    @include phones{
        height: 10%;
        width: 100%;
        padding: 8% 0;
    }
}