.contacts__input{
    border-bottom: 1px solid #fff;
    position: relative;
    margin-top: 20px;
    input{
        z-index: 2;
        transition: 0.5s;
        background: transparent;
        border: 0;
        color: #fff;
        font-weight: 600;
        padding: 0 0 0 20px;
        margin-bottom: 20px;
        width: 90%;
        height: 30px;
    }
}