.contacts__first{
    display: flex;
    justify-content: space-between;
}
.contacts__block{
    display: flex;
    flex-direction: column;
    width: 45%;
    label{
        margin-left: 12%;
    }
}