.contacts__button{
    width: 35%;
    background: linear-gradient(90deg, #ed7e00, #f29400);
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    padding: 3.5% 0 5% 0;
    line-height: 1.42;
    margin-top: 5%;
    &:active{
        font-size: 12px;
    }
}