.content__office{
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-align: right;
    margin-right: 60px;
    line-height: 1.6;
    opacity: 0.7;
    @include tablets{
        text-align: center;
    }
}