.footer{
    background-color: #1b1f22;
    color: #5d5f60;
}
.footer__wrapp{
    display: flex;
    padding: 5% 0;
    margin: 0 auto;
    @include phones{
        flex-direction: column;
        padding: 20% 0;
    }
}