.header__menu{
    .menu__ul{
        display: flex;
        justify-content: space-around;
    }
    @include tablets{
        display: none;
    }
}
.menu{
    .menu__ul{
        list-style: none;
    }
    .menu__li a{
        cursor: pointer;
        text-decoration: none;
        color: #ebebea;
        &:hover{
            color: #ccc;
        }
        &:active{
            color: #fff;
        }
    }
}