.hero{
    position: relative;
    overflow: hidden;
    background-color: #1b1f22;
    min-height: 1250px;
}
.herocontent{
    position: relative;
    font-family: 'Open Sans';
    min-height: 100%;
    display: grid;
    grid-template-rows: 100px 800px 100px;
}