.skills-svg{
    width: 200px;
    height: 200px;
    position: relative;
}
.skill-circle{
    fill: none;
    stroke-width: 4px;
    stroke: #ccc;
    opacity: 0.2
}
.skill-gradient{
    fill: none;
    stroke-width: 10px;
    stroke: url(#gradient);
    stroke-dasharray: 408;
    stroke-dashoffset: 40;
}