.skills__wrapp{
    padding: 7% 0 0 0;
    right: -40%;
    position: relative;
    max-width: 60%;
}
.skills-title{
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    margin-left: 2%;
}
.skills-list{
    display: flex;
    margin-top: 2%;
}
.skills-name{
    color: #aaa;
    font-weight: 600;
    margin-top: -60%;
    margin-right: 10%;
    text-align: center;
}