.userful__text{
    margin: 0 auto;
    width: 40%; 
    @include tablets{
        text-align: center;
    }
}
.userful__p{
    color: #aaa;
    font-weight: 600;
    margin-top: 5%;
    line-height: 1.7;
}
.userful__h2{
    color: #fff;
    font-weight: 600;
    @include tablets{
        font-size: 36px;
    }
}