.works__langlist{
    margin-left: -20px;
}
.works__lang{
    display: inline-block;
    color: #7a8087;
    background-color: #f1f5f9;
    padding: 2% 5%;
    border-radius: 100px;
    margin-left: 20px;
}