.works__arrows{
    display: flex;
    flex-direction: column;
    margin-right: -50px;
    @include phones{
        margin: 0;
    }
}
button{
    height: 50px;
    width: 50px;
    background-color: #2d3c4e;
    &:hover{
        .arrow{
            fill: #fff;
        }
    }
}
.arrow{
    width: 25px;
    height: 25px;
    fill: #6c7783;
    padding: 20%;
}
.left{
    transform: rotate(180deg)
}